header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

div {
    text-align: justify;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
    #imagen2 {
        display: none;
    }
}